@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #393053;
}

.wrapper {
    width: 370px;
    background: #fff;
    border-radius: 7px;
    padding: 25px 30px;
}

.wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: 500;
}

.wrapper form {
    margin: 35px 0 20px;
}

form .row {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form .row label {
    margin-bottom: 5px;
    font-size: 18px;
}

form :where(textarea, select, button) {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
}

form .row textarea {
    resize: none;
    height: 110px;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid #999;
}

form .row .outer {
    height: 47px;
    border: 1px solid #999;
    border-radius: 5px;
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.form .row select {
    font-size: 14px;
}

form button {
    height: 52px;
    margin-top: 10px;
    background: #393053;
    font-size: 17px;
    cursor: pointer;
    color: #fff;
}